EDC-Trabalho2/EDC-Trabalho2/EDC-Trabalho2/xml/Courses.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cursos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="curso">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="guid" type="xs:unsignedByte" />
              <xs:element name="nome" type="xs:string" />
              <xs:element name="codigo" type="xs:string" />
              
              <xs:element name="ciclo" type="xs:string" />
              <xs:element name="provas" type="xs:string" />
              <xs:element name="observacoes" type="xs:string" />
              <xs:element name="grau" type="xs:string" />
              <xs:element name="regime" type="xs:string" />
              <xs:element name="local" type="xs:string" />
              <xs:element name="areasformacao" type="xs:string" />
              <xs:element name="m23" type="xs:boolean" />

              <xs:element name="director">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nome" type="xs:string" />
                    <xs:element name="email" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="departamentos">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="departamento">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nome" type="xs:string" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="areascientificas">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="areacientifica" type="xs:string">
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>